@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overscroll-behavior: none;
  background: #18181b;
}

.story-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.story-scroll::-webkit-scrollbar {
  display: none;
}
